[submodule "gulp-module"]
	path = gulp-module
	url = https://github.com/PropelJS/gulp-module.git
	branch = master
[submodule "gulp-jsvalidate"]
	path = gulp-jsvalidate
	url = https://github.com/PropelJS/gulp-jsvalidate.git
	branch = master
[submodule "gulp-jscs"]
	path = gulp-jscs
	url = https://github.com/PropelJS/gulp-jscs.git
	branch = master
[submodule "escomplex-js"]
	path = escomplex-js
	url = https://github.com/PropelJS/escomplex-js.git
	branch = master
[submodule "gulp-complexity"]
	path = gulp-complexity
	url = https://github.com/PropelJS/gulp-complexity.git
	branch = master
[submodule "plato"]
	path = plato
	url = https://github.com/PropelJS/plato.git
	branch = master
[submodule "gulp-plato"]
	path = gulp-plato
	url = https://github.com/PropelJS/gulp-plato.git
	branch = master
[submodule "gulp-escomplex"]
	path = gulp-escomplex
	url = https://github.com/PropelJS/gulp-escomplex.git
	branch = master
[submodule "gulp-server"]
	path = gulp-server
	url = https://github.com/PropelJS/gulp-server.git
	branch = master
[submodule "usage"]
	path = usage
	url = https://github.com/PropelJS/usage.git
	branch = master
[submodule "gen"]
	path = gen
	url = https://github.com/PropelJS/gen.git
	branch = master
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/PropelJS/benchmark.git
	branch = master
